.center-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.rock,
.paper,
.scissors {
    background-color: #e97800;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
}

.reset {
    margin: 10px;
    border-radius: 8px;
    padding: 10px 20px;
}

.blue-background,
.cpu,
.player {
    font-size: 2em;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    background-color: #3498db;
    border-radius: 8px;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.rock,
.paper,
.scissors,
.button-container,
.results,
.scores,
.cpu-choice,
.player-choice {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
}

.button-container {
    margin-top: 100px;
}

.choices {
    display: flex;
    gap: 25px;
}

.scores {
    display: flex;
    align-items: end;
    padding-bottom: 120px;
    font-weight: 800;
}

.cpu-choice,
.player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 500px) {
    .image {
        height: 80px;
        width: 80px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rock,
    .paper,
    .scissors {
        font-size: x-small;
    }

    .center-container {
        align-items: center;
    }

    .cpu-choice,
    .player-choice {
        font-size: medium;
    }

    .scores {
        padding-bottom: 60px;
    }
}